{% extends 'users/../base.html' %}
{% load bootstrap4 %}

{% block navbar %}
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Research Helper</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-nowrap" href="#">About us</a>
                </li>
            </ul>
        </div>
        <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
            <ul class="navbar-nav ml-auto">
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="/experiments">logged in as {{ user }}</a>
                    </li>
                    <li class="nav-item">
                        <button type="button" class="btn btn-secondary"
                                onclick='$.ajax("/auth/logout/", {type: "GET"});window.location.href = "/" '>logout
                        </button>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#exampleModal">
                            login
                        </button>
                    </li>
                    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <form action="{% url 'login' %}" method="post">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Login</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <div class="form-group">
                                        <label for="userNameInput">Email address</label>
                                        <input type="text" class="form-control" id="userNameInput" name="username" placeholder="Enter user name">
                                    </div>
                                    <div class="form-group">
                                        <label for="passwordInput">Password</label>
                                        <input type="password" class="form-control" id="passwordInput" name="password" placeholder="Password">
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    {% csrf_token %}
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Register</button>
                                    <input type="submit" class="btn btn-primary" value="Login" >
                                    <input type="hidden" name="next" value="/">
                                </div>
                            </div>
                        </div>
                    </form>
                    </div>
                {% endif %}

            </ul>
        </div>
    </nav>
{% endblock %}
