{% extends 'users/navbar.html' %}
{% block title %}{% endblock %}
{% block navbar %}{{ block.super }}{% endblock %}

{% block content %}
    <h1>My experiments</h1>
    <a type="button" class="btn btn-secondary btn-lg" href="/create/experiment">Create new experiment</a>
    <div class="container-fluid">
        <div class="row">
            {% for elem in  experiments %}
                <div class="row">
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">{{ elem.0.name }} </h5>
                            <h6 class="card-subtitle mb-2 text-muted">No. items: {{  elem.1 }}</h6>
                            <h6 class="card-subtitle mb-2 text-muted">No. fills: {{ elem.2 }}</h6>
                            <a href="research/{{ 1 }}" class="card-link">Edit experiment</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}