{% extends 'users/navbar.html' %}
{% block title %}{% endblock %}
{% block navbar %}{{ block.super }}{% endblock %}

{% block content %}
    {% csrf_token %}
    <h1>My experiments</h1>
    <a type="button" class="btn btn-secondary btn-lg" href="/create/experiment">Create new experiment</a>
    <div class="container-fluid">
        <div class="row">
            {% for elem in  experiments %}
                <div class="row">
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">{{ elem.0.name }} </h5>
                            <h6 class="card-subtitle mb-2 text-muted">No. items: {{ elem.1 }}</h6>
                            <h6 class="card-subtitle mb-2 text-muted">No. answers: {{ elem.2 }}</h6>
                            <a href="experiment/{{ elem.0.id }}/edit" class="card-link">Edit experiment</a>
                            <div>
                                <button class="btn btn-danger" name="{{ elem.0.id }}" onclick="deleteExperiment(this)">
                                    delete
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <script>
        function deleteExperiment(experiment) {
            const csfrToken = document.querySelector('[name=csrfmiddlewaretoken]').value;
            fetch("/experiments/delete", {
                method: 'POST',
                headers: {'X-CSRFToken': csfrToken},
                body: JSON.stringify({"experiment_id": experiment.name})
            }).then(e=>window.location.reload(true))

        }
    </script>
{% endblock %}